{% extends 'base.html' %}
{% load static %}

{% block content %}
<main id="main">

    <!-- ======= Intro Single ======= -->
    
    <!-- ======= Contact Single ======= -->
    <section class="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-map box">
              
            </div>
          </div>
          <div class="col-sm-12 section-t8">
            <div class="row">
                {% if messages %}
                {% for msg in messages %}
                    <p style="clor: green">{{msg}}</p>
                    <br/>
                {% endfor %}
                {% endif %}
              <div class="col-md-7">
                <form action="{% url 'post_house' %}" method="POST" enctype="multipart/form-data" role="form">
                  {% csrf_token %}
                  <div class="row">
                   
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <input name="name" type="text" class="form-control form-control-lg form-control-a" placeholder="House Name" required>
                      </div>
                    </div>
                   
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                          <textarea name="description" type="message" class="form-control form-control-lg form-control-a" placeholder="Description" cols="45" rows="8" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="rent" type="text" class="form-control form-control-lg form-control-a" placeholder="House Rent" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="location" type="text" class="form-control form-control-lg form-control-a" placeholder="House's Location" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="house_type" type="text" class="form-control form-control-lg form-control-a" placeholder="House's Type" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="area" type="text" class="form-control form-control-lg form-control-a" placeholder="House's Area" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="beds" type="number" class="form-control form-control-lg form-control-a" placeholder="House's Beds" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="baths" type="number" class="form-control form-control-lg form-control-a" placeholder="House's Baths" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="garage" type="number" class="form-control form-control-lg form-control-a" placeholder="House's Garage" required>
                        </div>
                    </div>
                    
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="video" type="text" class="form-control form-control-lg form-control-a" placeholder="House's Video" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                          <input name="image" type="file" class="form-control form-control-lg form-control-a" placeholder="House's Image" required>
                        </div>               
                    <div class="col-md-12 text-center">
                      <button type="submit" class="btn btn-a">POST</button>
                    </div>
                  </div>
                </form>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Single-->

  </main><!-- End #main -->
{% endblock content %}